.box {
    width: 228px;
    height: 318px;

    border: 2px solid black; 

    margin: 20px;

    background-color: lightgray;
    
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

}

.testGallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;  
}

.hidden {
    display: none !important;
}
